*{
  padding: 0%;
  margin: 0%;
}
.list-group-item a{
  text-decoration: none;
}

.list-group-item a:hover{
  text-decoration: underline;
}

p , span {
  color: grey;
  line-height: 2;
}

h3{
  color:#555;
}

i:hover{
  cursor: pointer;
}